div#container {
  padding-top: 30px;
}
div#container div.inner form legend {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}
div#container div.inner form#entrar {
  display: none;
}
